* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #0077b6;
  color: whitesmoke;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #00b4d8;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  transition: background-color 0.3s;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
  border: 2px solid #00b4d8;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

.container {
  margin-top: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  /* perspective: 1000px; adds depth to the cards */
}

.card {
  width: calc(25% - 8px);
  height: calc(30% - 8px);
  margin: 4px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  border: 2px;
  background: #00b4d8;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

form {
  margin: 20px 0;
}

#score-container {
  margin-bottom: 20px;
}

#score {
  font-size: 18px;
  margin: 10px;
}
